doctype html
html(lang='ru')
	include pug/head
	body
		include pug/mixins
		include pug/popups
		include pug/mainSection
		include pug/worksSection
		include pug/calcSection
		include pug/answersSection
		include pug/commentsSection
		include pug/factorySection
		include pug/mapSection
		include rigger/bitrix.txt
		script(src="js/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/mask.min.js")
		script(src="js/common.min.js")